:root {
  --color-text-grey: #f7f7f7;
  --color-primary: #b514ac;
  --color-secondary: #dd77d7;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               Hero                               */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.hero {
  text-align: center;
  position: relative;
  /* margin: 2rem auto 3rem; */
  padding: 3rem;
}

.company__logo {
  width: 13rem;
  height: 13rem;
}

.company__title {
  color: var(--color-text-grey);
  font-size: 4rem;
}

.company__slogan {
  color: var(--color-text-grey);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed). */
.hero-image__left {
  position: relative;
  z-index: 1;
  width: 50rem;
}

.hero-image__right--wrapper {
  display: inline-block;
  position: relative;
}

.hero-image__right {
  position: relative;
  margin-left: -8rem;
  height: 36rem;
}

.hero-text {
  color: var(--color-primary);
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  right: 2rem;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               About                              */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.about {
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: #202020;
}

.about-image {
  width: 30rem;
  height: auto;
  margin-right: 7rem;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
}

.about-company__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-company__mission {
  color: var(--color-text-grey);
  font-size: 1.8rem;
  text-align: center;
}

.hrdf {
  width: 20rem;
  height: auto;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                        Simulation Training                       */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.simulation-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.simulation__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.simulation__subtitle {
  color: var(--color-text-grey);
  width: 50rem;
  font-size: 1.8rem;
  text-align: center;
}

.simulation__description {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.simulation__image {
  width: 40rem;
  height: auto;
  margin-right: 4rem;
}

.simulation-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  text-align: center;
}

.simulation-program__title {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.simulation-program__description {
  color: var(--color-text-grey);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.simulation-program__button {
  background-color: var(--color-primary);
  color: var(--color-text-grey);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.4rem;
}

.simulation-program__button:hover {
  background-color: var(--color-secondary);
  color: #000;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                         Training programs                        */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.training-programs {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.training__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.training__subtitle {
  color: var(--color-text-grey);
  width: 50rem;
  font-size: 1.8rem;
  text-align: center;
}

.training-description {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.training-program {
  text-align: center;
}

.training-program__list {
  color: var(--color-secondary);
  font-size: 2rem;
  list-style: none;
}

.training-program__list li {
  margin-bottom: 1rem;
}

.training-program__list li:nth-child(even) {
  color: var(--color-text-grey);
}

.training-program__list li:nth-child(odd) {
  color: var(--color-secondary);
}

.contact-us {
  background-color: var(--color-primary);
  color: var(--color-text-grey);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.contact-us:hover {
  background-color: var(--color-secondary);
  color: #000;
}

.training-image {
  width: 40rem;
  height: auto;
  margin-left: 4rem;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Clients                             */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 5rem;
}

.clients__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.clients-content {
  display: flex;
  align-items: center;
}

.clients-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

.clients-logo > * {
  width: 15rem;
  height: auto;
}

.kossan {
  width: 14rem;
}

.arlene {
  width: 10rem;
}

.more {
  color: var(--color-text-grey);
  font-size: 1.6rem;
  text-align: center;
}

.clients-image {
  width: 45rem;
  height: auto;
  margin-left: 4rem;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Contact                             */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #202020;
}

.contact__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.contact-content {
  display: flex;
  align-items: center;
}

.contact-image-left {
  width: auto;
  height: 45rem;
  margin-right: -10rem;
}

.contact-detail {
  display: flex;
  flex-direction: column;
}

.contact-detail > p {
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 5rem;
  margin-right: 2rem;
}

.name {
  color: var(--color-text-grey);
}

.phone-number {
  color: var(--color-text-grey);
}

.email {
  color: var(--color-text-grey);
}

.contact-image-right {
  width: auto;
  height: 45rem;
  margin-left: -10rem;
}

.copyright {
  color: var(--color-text-grey);
  font-size: 1rem;
  margin-top: 2rem;
}
