/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               Base                               */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

:root {
  --color-text-grey: #f7f7f7;
  --color-primary: #b514ac;
  --color-secondary: #dd77d7;
  --color-background-darkgrey: #202020;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media (max-width: 950px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 725px) {
  html {
    font-size: 45%;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               Hero                               */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.hero {
  text-align: center;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 4rem;
  box-shadow: 0px 5px 20px -2px #111111, 0px -5px 20px -2px #111111;
  position: relative;
  overflow: hidden;
}

.company__logo {
  width: 13rem;
  height: 13rem;
}

.company__title {
  color: var(--color-text-grey);
  font-size: 4rem;
}

.company__slogan {
  color: var(--color-text-grey);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed). */
.hero-image__left {
  position: relative;
  z-index: 1;
  width: 50rem;
}

.hero-image__right--wrapper {
  display: inline-block;
  position: relative;
}

.hero-image__right {
  position: relative;
  margin-left: -8rem;
  height: 36rem;
}

.hero-text {
  color: var(--color-primary);
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  right: 2rem;
  animation-name: breathing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0.43, 0.23, 0.23);
}

@keyframes breathing {
  50% {
    transform: scale(1.5);
  }
}

@media (max-width: 550px) {
  .company__logo {
    width: 10rem;
    height: auto;
  }

  .company__title {
    color: var(--color-text-grey);
    font-size: 3rem;
  }

  .company__slogan {
    color: var(--color-text-grey);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .hero-image__left {
    width: 43rem;
  }

  .hero-image__right {
    position: relative;
    margin-left: -8rem;
    height: 30rem;
  }
}

@media (max-width: 450px) {
  .hero-image__left {
    width: 40rem;
  }

  .hero-image__right {
    height: 27rem;
  }
}

@media (max-width: 400px) {
  .hero-image__left {
    width: 35rem;
  }

  .hero-image__right {
    height: 22rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               About                              */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.about {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-background-darkgrey);
  overflow: hidden;
}

.about-image {
  width: 30rem;
  height: auto;
  margin-right: 7rem;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
}

.about-company__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-company__mission {
  color: var(--color-text-grey);
  font-size: 1.8rem;
  text-align: center;
}

.hrdf {
  width: 20rem;
  height: auto;
}

@media (max-width: 580px) {
  .about-image {
    width: 27rem;
    height: auto;
    margin-right: 3rem;
  }
}

@media (max-width: 500px) {
  .about-image {
    width: 20rem;
    height: auto;
    margin-right: 2rem;
  }
}

@media (max-width: 450px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                        Simulation Training                       */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.simulation-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 5rem;
  box-shadow: 0px 5px 20px -2px #111111, 0px -5px 20px -2px #111111;
  position: relative;
  overflow: hidden;
}

.simulation__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.simulation__subtitle {
  color: var(--color-text-grey);
  width: 50rem;
  font-size: 1.8rem;
  text-align: center;
}

.simulation__description {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.simulation__image {
  width: 40rem;
  height: auto;
  margin-right: 4rem;
}

.simulation-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  text-align: center;
}

.simulation-program__title {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.simulation-program__description {
  color: var(--color-text-grey);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.simulation-program__button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-text-grey);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.4rem;
  text-decoration: none;
}

.simulation-program__button:hover {
  background-color: var(--color-secondary);
  color: #000;
}

@media (max-width: 675px) {
  .simulation__image {
    width: 30rem;
    height: auto;
    margin-right: 2rem;
  }

  .simulation-program__button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .simulation__image {
    width: 25rem;
    height: auto;
    margin-right: 2rem;
    margin-top: 0.5rem;
  }

  .simulation-program {
    width: 30rem;
  }

  .simulation-program__button {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 450px) {
  .simulation__description {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .simulation__image {
    margin-bottom: 4rem;
  }
}

@media (max-width: 400px) {
  .simulation__title {
    font-size: 3rem;
  }

  .simulation__subtitle {
    width: 35rem;
    font-size: 1.8rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                         Training programs                        */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.training-programs {
  background-color: var(--color-background-darkgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.training__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.training__subtitle {
  color: var(--color-text-grey);
  width: 50rem;
  font-size: 1.8rem;
  text-align: center;
}

.training-description {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.training-program {
  text-align: center;
}

.training-program__list {
  color: var(--color-secondary);
  font-size: 2rem;
  list-style: none;
}

.training-program__list li {
  margin-bottom: 1rem;
}

.training-program__list li:nth-child(even) {
  color: var(--color-text-grey);
}

.training-program__list li:nth-child(odd) {
  color: var(--color-secondary);
}

.contact-us {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-text-grey);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.8rem;
  margin-top: 1rem;
  text-decoration: none;
}

.contact-us:hover {
  background-color: var(--color-secondary);
  color: #000;
}

.training-image {
  width: 40rem;
  height: auto;
  margin-left: 4rem;
}

@media (max-width: 600px) {
  .training-programs {
    padding-left: 2.5rem;
  }

  .training-image {
    width: 33rem;
    height: auto;
    margin-left: 1.5rem;
  }

  .training-program__list {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .training-image {
    width: 28rem;
    height: auto;
    margin-left: 1rem;
  }

  .training-program__list {
    font-size: 1.8rem;
  }
}

@media (max-width: 450px) {
  .training-description {
    margin-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .training-image {
    margin-bottom: 4rem;
  }
}

@media (max-width: 400px) {
  .training__title {
    font-size: 3rem;
  }

  .training__subtitle {
    width: 35rem;
    font-size: 1.8rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Clients                             */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 6rem;
  box-shadow: 0px 5px 20px -2px #111111, 0px -5px 20px -2px #111111;
  position: relative;
  overflow: hidden;
}

.clients__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.clients-content {
  display: flex;
  align-items: center;
}

.clients-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

.clients-logo > * {
  width: 15rem;
  height: auto;
}

.kossan {
  width: 14rem;
}

.arlene {
  width: 10rem;
}

.more {
  color: var(--color-text-grey);
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.clients-image {
  width: 45rem;
  height: auto;
  margin-left: 4rem;
}

@media (max-width: 800px) {
  .clients-logo > * {
    width: 11rem;
    height: auto;
  }

  .arlene {
    width: 8rem;
  }
}

@media (max-width: 700px) {
  .clients-image {
    width: 38rem;
    height: auto;
    margin-left: 3rem;
  }

  .clients-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  .arlene {
    width: 7rem;
  }
}

@media (max-width: 600px) {
  .clients-image {
    margin-left: 1.5rem;
  }

  .clients {
    padding-left: 4rem;
  }
}

@media (max-width: 500px) {
  .clients-logo {
    gap: 1.5rem;
  }

  .clients-logo > * {
    width: 12rem;
    height: auto;
  }

  .kossan {
    width: 11rem;
  }

  .arlene {
    width: 8rem;
  }

  .clients-image {
    width: 30rem;
    height: auto;
    margin-left: 2rem;
  }
}

@media (max-width: 450px) {
  .clients {
    padding-bottom: 2rem;
  }

  .clients__title {
    font-size: 3rem;
  }

  .clients-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .clients-logo {
    margin-bottom: 4rem;
    gap: 1.5rem;
    width: 40rem;
    height: auto;
  }

  .clients-logo > * {
    width: 15rem;
    height: auto;
  }

  .kossan {
    width: 13rem;
  }

  .arlene {
    width: 9.5rem;
  }

  .clients-image {
    width: 40rem;
    height: auto;
    margin-top: 2rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Contact                             */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--color-background-darkgrey);
  overflow: hidden;
}

.contact__title {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.contact-content {
  display: flex;
  align-items: center;
}

.contact-image-left {
  width: auto;
  height: 45rem;
  margin-right: -10rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  z-index: 1;
}

.contact-form input {
  width: 100%;
  height: 3rem;
  background-color: rgb(225, 225, 225);
  border-style: none;
  margin: 1rem 0;
  border-radius: 10px;
  text-indent: 1rem;
}

.contact-form input::placeholder {
  text-transform: uppercase;
}

.contact-form textarea {
  width: 100%;
  background-color: rgb(225, 225, 225);
  border-style: none;
  margin: 1rem 0;
  border-radius: 10px;
  text-indent: 1rem;
}

.contact-form textarea::placeholder {
  font-size: 1.15em;
  text-transform: uppercase;
}

.contact-form .submit {
  width: 15rem;
  height: 3rem;
  margin: 1rem 0 0;
  font-size: 1.8rem;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-grey);
}

.submit:hover {
  background-color: var(--color-secondary);
  color: #000;
}

.contact-image-right {
  width: auto;
  height: 45rem;
  margin-left: -10rem;
}

.copyright {
  color: var(--color-text-grey);
  font-size: 1.2rem;
  margin-top: 2rem;
}

@media (max-width: 650px) {
  .contact-image-left {
    margin-left: -10rem;
  }
}

@media (max-width: 500px) {
  .contact-image-right {
    margin-left: -10rem;
  }

  .contact-image-left {
    width: auto;
    height: 45rem;
    margin-left: -15rem;
  }

  .contact-form {
    width: 70%;
    margin-left: -5rem;
  }
}

@media (max-width: 450px) {
  .contact__title {
    font-size: 3rem;
  }

  .contact-image-right {
    margin-right: -5rem;
  }

  .contact-image-left {
    margin-left: 0rem;
  }

  .contact-form {
    width: 80%;
    margin-left: -27rem;
  }
}
